html {
  font-family: 'Lucida Grande', sans-serif;

}
.grid {
  max-width: 970px;
  

}

.title-text {
  color: #666666;
  font-size: 50px;
}

.content-header {
  color: #F07C17;
  font-size: 25px;
	padding-bottom: 20px;
	font-weight: bold;
}

.content-text {
  color: #666666;
  font-size: 16px;
  line-height: 2;
  
  
}

.feature-box {
	border: solid 1px #CCCCCC;
	margin-top: 30px;
	padding-left: 20px;
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 16px;
	max-width: 354px;
}




img {
  padding-top: 20px;
  max-width: 354px;
  max-height: 374px;

}


